﻿body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 85%;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
}
section {
    padding: 1em;
}
.error
{
    margin-top: 1em;        
    color: darkviolet;
}